# Mongo volumes.
mongo/volume/*
!contenedor-a/mongo-volume/.gitkeep 

# React dependencies and build
frontend/node_modules/*
frontend/build/*

contenedor-g/rabbitmq/data/*
contenedor-g/rabbitmq/etc/*
contenedor-g/rabbitmq/logs/*
!contenedor-g/rabbitmq/.gitkeep 
!contenedor-g/rabbitmq/data/.gitkeep 
!contenedor-g/rabbitmq/etc/.gitkeep 
!contenedor-g/rabbitmq/logs/.gitkeep 
